body{
    padding-bottom: 50px;
    background-color: rgb(36, 36, 36);
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: rgb(42, 42, 42);
    display: flex;
}

.header-para{
    position: relative;
    left: 80px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    cursor: pointer;
}

.header2{
    display: flex;
    justify-content: space-between;
    column-gap: 18px;
    align-items: center;
    position: absolute;
    right: 90px;
    top: 16px;
}

.para1{
    display: inline-block;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.para2{
    border: none;
    background-color: rgb(42, 42, 42);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.para3,.para4{
    border-width: 1px;
    background-color: rgb(42, 42, 42);
    color: white;
    border-style: ridge;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-color: white;
    cursor: pointer;
    font-size: 15px;
}

.block2{
    margin-top: 150px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block2-para{
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    color: white;
    width: 310px;
    margin-left: 30px;
    margin-right: 20px;
}

.block2-para2{
    color: white;
    font-size: 17px;
    line-height: 22px;
    width: 380px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 20px;
}

.button2{
    color: black;
    padding: 18px 150px 18px 150px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
}

.block2-div1{
    border: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgb(42, 42, 42);
    border-style: hidden;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.anim-div{
    margin-right: 420px;
    margin-top:100px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.block3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    color: white;
}

.part1{
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;

}

.part1-para{
    width: 250px;
    margin-bottom: 50px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.block3-div{
    border: solid;
    border-width: 1px;
    background-color: rgb(42, 42, 42);
    border-style: hidden;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.block3-div:hover{
    border: solid;
    border-width: 1px;
    background-color: rgb(42, 42, 42);
    border-style: hidden;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.block4-para1{
    color: white;
    font-size: 34px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.block4-para2{
    color: rgb(108, 117, 125);
    font-size: 19px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -12px;
}

.logo{
    width: 130px;
    margin-right: 12px;
}
.block5-para1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.block5{
    border:solid;
    border-top-width: 1px;
    border-top-color: white;
    border-style: hidden;
    border-top-style:double;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style:outset;
}

.block5-para2,.block5-para3{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.space{
    margin-left: 14px;
}

.block5-para4{
    color: white;
    font-size:15px;
    text-align: center;
    line-height: 30px;
}

.last-para{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
