body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:indigo;
}

p{
    color: white;

}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    height: 100vh;
    background: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.sidebar a:hover {
    background-color: brown;
}

.main {
    margin-left: 130px;
    padding: 30px;
    position: relative;
}

section {
    margin-bottom: 60px;
}


.img-para{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 23px;
}

.img-para2{
    line-height: 25px;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 180px;
    margin-top: 40px;


}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    width: 120px;
    height: 80px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.para-block{
    display: grid;
    grid-template-columns: 500px 1fr;
    top: 0;
}



.about-para{
    line-height: 30px;
}

.resume-div{
    margin-top: 10px;
}

.resume{
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;
}

.button{
    padding: 20px 15px 20px 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    color:black;
    font-weight: bold;
}


.link{
    text-decoration: none;
    cursor: pointer;;
}

@media(max-width:500px){
    .first-block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.services{
    display: flex;
    justify-content: space-evenly;
    text-align: centers;
}

.service-box{
    border: solid;
    border-width: 1px;
    border-style:dashed;
    padding : 30px 40px 30px 40px;
    background-color: azure;
    cursor: q;
}

.service-para{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 40px;
}

.service-para2{
    margin-bottom: 50px;
}

.my{
    margin-bottom: 40px;
}